<label>Nome</label>
<input type="text" [(ngModel)]="name">
<br>
<label>Salario</label>
<input type="text" [(ngModel)]="salary">
<br>
<!-- ocultando a div caso o salario seja maior que R$ 1.000 destroi o elemento-->
<div *ngIf="salary < 1000">
        <label>Bonus_ngIf   </label>
        <input type="text" [(ngModel)]="bonus"> 
    </div>

    <!-- ocultando a div caso o salario seja maior que R$ 1.000 não destroi o elemento esconde ele via css-->
<div [hidden]="salary > 1000">
        <label>Bonus_hidden   </label>
        <input type="text" [(ngModel)]="bonus"> 
    </div>



<button type="button" (click)="addEmployee($event)">Adicionar o empregado</button>



